<div class="row">
  <div class="col-sm-1">
    <app-git-graph-dot></app-git-graph-dot>
  </div>
  <div class="col-sm-11">
    <div class="row section-content">
      {{ intro }}
      <hr>
      <div class="row">
        <div class="col-sm-1">
          <img src="/assets/img/angular-logo.png" alt="Angular Logo"/>
        </div>
        <div class="col-sm-11">
          My current ventures include developing this website and
          building out my understanding of the Angular framework
        </div>
      </div>
    </div>
  </div>
</div>
