:host {
  display: block;
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: mediumpurple;
  font-size: 56px;
}

.section-content {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 1.8em 1.8em 1.8em 1.8em;
  display: block;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(31,36,38,1);
}

.detail {
  margin-top: 10%;
  margin-bottom: 10%;
}
