<app-connector
  [start]="start.elRef"
  [end]="end.elRef"
></app-connector>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <app-dot #start></app-dot>
      <app-line></app-line>
    </div>
    <div class="col-sm-11 detail">
      <div class="row">
        <div class="col-sm-2">
          <app-dot #end></app-dot>
          <app-line></app-line>
        </div>
        <div class="col-sm-10">
          <div class="row section-content">
            <div class="col-sm-12">
              <h1><b>Drew Underwood</b></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
