:host {
  display: block;
  background-color: mediumpurple;
  width: 100%;
  margin: 0;
}

.container {
  .row {

    .nav-button {
      text-align: center;

      span {
        display: block;
        margin-top: 10%;
        margin-bottom: 10%
      }

      &.left, &.right {
        border-left-style: solid;
        border-right-style: solid;

        span {
          display: block;
          margin-top: 10%;
          margin-bottom: 10%
        }
      }
    }
  }
}
