<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu button">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>
      <a
        routerLink="/about-me"
        routerLinkActive="true"
        (click)="onAboutMeClicked()"
      >
        About Me
      </a>
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>email</mat-icon>
    <span>
      <a
        routerLink="/contact-me"
        routerLinkActive="true"
        (click)="onContactMeClicked()"
      >
        Contact Me
      </a>
    </span>
  </button>
</mat-menu>
