<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <app-dot></app-dot>
    </div>
    <div class="col-sm-11">
      <div class="row section-content">
        <div class="col-sm-12">
          <h3 *ngIf="sectionContent.header != null">{{ sectionContent.header }}</h3>
        </div>
        <ul>
          <li
            *ngFor="let subContent of sectionContent.content"
          >
            {{ subContent }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
