<div class="row">
  <div class="row" style="width: 10%">
    <svg #svg style="width: 100%">
      <circle
        #circle
        cx=50%
        cy=50%
        fill="#008eb5"
        r="12.5"
      ></circle>
    </svg>
  </div>
  <div class="row" style="width: 90%">
    <div class="section-content" style="width: 100%">
      Introduction!
      <hr>
      <div class="row">
        <div class="col-sm-1">
          <img alt="Angular Logo" src="/assets/img/angular-logo.png"/>
        </div>
        <div class="col-sm-11">
          My current ventures include developing this website and
          building out my understanding of the Angular framework
        </div>
      </div>
    </div>
  </div>
</div>
