<app-connector
  #connectorStart
  [style.height.px]="row.getBoundingClientRect().height"
  [start]="start.elRef"
></app-connector>
<app-connector
  #connectorMid
  [style.height.px]="row.getBoundingClientRect().height"
  [start]="end.elRef"
></app-connector>
<div class="row" #row>
  <div class="col-sm-1">
    <app-dot
      [offset]="100"
      #start
    ></app-dot>
    <app-dot
      [style.background-color]="'transparent'"
      [offset]="0"
      #end
    ></app-dot>
    <app-line></app-line>
  </div>
  <div class="col-sm-11">
    <app-connector
      #connectorEnd
      [style.height.px]="row.getBoundingClientRect().height"
    ></app-connector>
    <div
      class="row"
      *ngFor="let content of contents"
    >
      <div class="col-sm-1">
        <app-dot #mid></app-dot>
      </div>
      <div class="col-sm-11">
        <div class="row section-content">
          <app-work-experience-header
            (imageLoaded)="drawBranch()"
            [headerContent]="content"
          ></app-work-experience-header>
          <hr>
          <app-work-experience-detail
            [detailContent]="content"
          ></app-work-experience-detail>
        </div>
      </div>
    </div>
  </div>
</div>
